<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
        <title>ADDRESS BOOK</title>
    </head>
    <body  >
      <div style="margin-top: 5%;background:#f9f9f9;padding-left: 20%; padding-right:20% ">
                    <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" style="text-align: center">S.No</th>
                        <th scope="col" style="text-align: center">Name Of Person</th>
                        <th scope="col" style="text-align: center">Address</th>
                        <th scope="col" style="text-align: center">Mobile Number</th>
                        
                      </tr>
                    </thead>
               
                    <tbody>
                            <tr style="text-align: center">
                           <% for(var i=0; i < address.length; i++) { %>
                            <td style="text-align: center"><%= address[i].id%></td>
                            <td style="text-align: center"><%= address[i].name%></td>
                            <td style="text-align: center"><%= address[i].address%></td>
                            <td style="text-align: center"><%= address[i].number%></td>
                            
                               </tr>
                            <% } %>
                            </tbody>
                            </table>
                          </div>
                          
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" 
                            data-target="#formModal" style=" position: fixed;
                            bottom: 40px;
                            right: 10px; height: 100px;
                              width: 100px;
                              border-radius: 50%;
                              border: 10px solid gray;">
                                    Add Address
                                  </button>
                                  
                                   
                                  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <form action="/add" method="POST">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="myModalLabel">ADD ADDRESS</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="form-group">
                                            <label for="name">PERSON NAME  Name</label>
                                            <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter Name" required>
                                          </div>
                                                      <div class="form-group">
                                                            <label>ADDRESS OF PERSON</label>
                                                            <textarea class="form-control" name="address"></textarea>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="number">MOBILE NUMBER</label>
                                                        <input type="number" class="form-control" id="number" name="number" aria-describedby="number" placeholder="Enter Mobile Number" required>
                                                      </div>
                                                     
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <input type="submit" class="btn btn-primary" value="submit"/>
                                        </div>
                                    </form>
                                      </div>
                                    </div>
                                  </div>
                        
                        
                        
                            
                            
                            
    </body>
</html>